# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# nuxt.js build output
.nuxt

# Nuxt generate
dist

# IDE / Editor
.idea

# macOS
.DS_Store

# Vim swap files
*.swp

#Hardhat files
cache
artifacts/@openzeppelin
artifacts/build-info

# contracts

# Testing For Now...
test

# Editor
.editorconfig

# Hide my secrets
secrets.json